/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#excuse {
  font-size: large;
  text-transform: uppercase;
  text-align: center;
}